## **Usage example**

In [1]:
import pandas as pd
import numpy as np
from table_styler import TableStyler 
import warnings

In [2]:
np.random.seed(42)
warnings.filterwarnings('ignore')

In [3]:
data_tmp = np.random.randn(5,10)
col_names = ['A', 'B', 'C', 'D', 'E']
data = {col: val for col, val in zip(col_names, data_tmp)}
df = pd.DataFrame(data)
df.head()

          A         B         C         D         E
0  0.496714 -0.463418  1.465649 -0.601707  0.738467
1 -0.138264 -0.465730 -0.225776  1.852278  0.171368
2  0.647689  0.241962  0.067528 -0.013497 -0.115648
3  1.523030 -1.913280 -1.424748 -1.057711 -0.301104
4 -0.234153 -1.724918 -0.544383  0.822545 -1.478522

In [4]:
html = TableStyler(table_name='Example').style(df, y_thresh=1, r_thresh=1.5, abs_mode=True, cols=None)

___________the styles.css was read successfuly___________

View result in browser as built-in tool (**IPython.display.HTML**) does not display the table correctly. You can find html file in **result** folder. If nothing was cahnged in the code you can just look at result png image in the same folder.

In [5]:
with open('result/table.html', 'w') as file:
    file.write(html)